[run]
branch = True
source = artman/

[report]
# fail_under = 75
show_missing = True
exclude_lines =
    # Re-enable the standard pragma
    pragma: no-cover

    # Ignore debug-only repr
    def __repr__
